.App {
  text-align: center;
  background-color: green;
}

.content {
  margin: 30px;
}

.item {
  display: flex;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
}

ul li{
  font-size: 25px;
} 
